<%= form_for(:album, url: album.id ? "/albums/#{album.id}" : '/albums') do |form| %>
  <% if album.id %>
    <input name="_method" type="hidden" value="put" />
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :reproductions %>
    <%= form.number_field :reproductions %>
  </div>

  <div class="field">
    <%= form.label :artist_id %>
    <small>(debe existir el id)</small>
    <%= form.number_field :artist_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
