<p id="notice"><%= notice %></p>
<div class="table-wrapper">
  <div class="table-title">
    <div class="row">
      <div class="col-sm-6">
        <h2>Albumes</h2>
      </div>
    </div>
  </div>
  <table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Reproductions</th>
      <th>Artist</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @albums.each do |album| %>
      <tr>
        <td><%= album.name %></td>
        <td><%= album.reproductions %></td>
        <td><%= album.artist_id %></td>
        <td><%= link_to 'Ver', album_path(album.id) %></td>
        <td><%= link_to 'Edit', edit_album_path(album.id) %></td>
        <td><%= button_to 'Destroy', album_path(album.id), method: :delete, data: { confirm: 'Are you sure?' }%></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Album', new_album_path %>
</div>