<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @album.name %>
</p>

<p>
  <strong>Reproductions:</strong>
  <%= @album.reproductions %>
</p>

<p>
  <strong>Artist:</strong>
  <%= @album.artist_id %>
</p>

<%= link_to 'Edit', edit_album_path(@album.id) %> |
<%= link_to 'Back', albums_path %>
