<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
<canvas id="myChart"></canvas>

<script type="text/javascript">
var ctx = document.getElementById('myChart').getContext('2d');
var chart = new Chart(ctx, {
    // The type of chart we want to create
    type: 'bar',

    // The data for our dataset
    data: {
        labels: <%=  raw @artists.map(&:name) %>,
        datasets: [{
            label: 'reproductions',
            backgroundColor: 'rgb(255, 99, 132)',
            borderColor: 'rgb(255, 99, 132)',
            data: <%=  raw @artists.map(&:reproductions) + [0] %>,
        }]
    },

    // Configuration options go here
    options: {}
});
</script>