<%= form_for(:artist, url: artist.id ? "/artists/#{artist.id}" : '/artists') do |form| %>
  <% if artist.id %>
    <input name="_method" type="hidden" value="put" />
  <% end %>
  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
