<p id="notice"><%= notice %></p>
<div class="table-wrapper">
  <div class="table-title">
    <div class="row">
      <div class="col-sm-6">
        <h2>Artistas</h2>
      </div>
    </div>
  </div>
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th>id</th>
        <th>Name</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @artists.each do |artist| %>
        <tr>
          <td><%= artist.id %></td>
          <td><%= artist.name %></td>
          <td><%= link_to 'Ver', artist_path(artist.id) %></td>
          <td><%= link_to 'Edit', edit_artist_path(artist.id) %></td>
          <td><%= button_to 'Destroy', artist_path(artist.id), method: :delete, data: { confirm: 'Are you sure?' }%></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to 'New Artist', new_artist_path %>
</div>

